
    <footer class="py-3 mb-4 navbar-dark bg-primary">
      <div class="row justify-content-around">
        <div class="col-2">
          <h5><div class="v"><div class="vez text-white">Care</div><div class="com">.com</div></div></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">About Us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Our Team</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Careers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Press</a></li>
            
          </ul>
        </div>
  
        <div class="col-2">
          <h5 class="text-white">Search by</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Speciality</a></li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Area</a></li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Insurance</a></li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Hospital</a></li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Center</a></li>
          </ul>
        </div>
        <div class="col-2">
          <h5 class="text-white">Need Help?</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 "><a href="#" aria-current="page" routerLink="/contactUs" routerLinkActive="active" class="nav-link p-0 text-white ">Contact Us</a></li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Terms Of Use</a></li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Privacy Policy</a></li>
            <li class="nav-item mb-2 "><a href="#" class="nav-link p-0 text-white">Doctors Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-2">
            <h5 class="text-white">Are You A Doctor ?</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2 "><a href="#" aria-current="page" routerLink="/signup" routerLinkActive="active" class="nav-link p-0 text-white">Join Care as A doctors</a></li>
              <li class="nav-item mb-2 "><a href="#" aria-current="page" routerLink="/form" routerLinkActive="active" class="nav-link p-0 text-white">Add doctors</a></li>
              
            </ul>
          </div>
  
        <div class="col-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-3"><button class="btn btn-primary" type="button">Google play</button></li>
            <li class="nav-item mb-3"><button class="btn btn-primary" type="button">App Store </button></li>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter" style="font-size: 20px;color: white;padding:5px;"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"  style="font-size: 20px;color: white;padding:5px;"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook" style="font-size: 20px;color: white;padding:5px;"></i></a></li>
              </ul>
          </ul>
        </div>
              
            </div>
    </footer>
  
