<div class="d-flex" ><div class="flex-shrink-0 p-3 mr-3 ml-3 bg-white" style="width: 280px;height: 1200px;border-radius: 15px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold" style="border-radius:15px;"> <i class="bi bi-funnel"></i> Filters</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-toggle align-items-center rounded collapsed text-primary" id="dropdownBasic1" ngbDropdownToggle> <i class="bi bi-mortarboard"></i> Title</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><input type="checkbox"> Professor</button>
                <button ngbDropdownItem><input type="checkbox"> Lecturer</button>
                <button ngbDropdownItem><input type="checkbox"> Consultant</button>
                <button ngbDropdownItem><input type="checkbox"> Specialist</button>
              </div>
            </div>
          </div>
      </li>
      <li class="mb-1">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-toggle align-items-center rounded collapsed text-primary" id="dropdownBasic1" ngbDropdownToggle><fa-icon icon="stethoscope"></fa-icon> Sub specialist</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><input type="checkbox"> All </button>
                <button ngbDropdownItem><input type="checkbox"> Adult dentistry</button>
                <button ngbDropdownItem><input type="checkbox"> Eldet dentistry</button>
                <button ngbDropdownItem><input type="checkbox"> Pediatric dentistry</button>
                <button ngbDropdownItem><input type="checkbox"> Endontics </button>
               
              </div>
            </div>
          </div>
      </li>
      <li class="mb-1">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-toggle align-items-center rounded collapsed text-primary" id="dropdownBasic1" ngbDropdownToggle> <i class="bi bi-gender-ambiguous"></i> Gender</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><input type="radio" name="gender"> Male</button>
                <button ngbDropdownItem><input type="radio" name="gender"> Female</button>
            
              </div>
            </div>
          </div>
      </li>
      <li class="mb-1">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-toggle align-items-center rounded collapsed text-primary" id="dropdownBasic1" ngbDropdownToggle><i class="bi bi-calendar-week"></i> Availability</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><input type="checkbox"> Any day</button>
                <button ngbDropdownItem><input type="checkbox"> Today</button>
                <button ngbDropdownItem><input type="checkbox"> Tomorrow</button>
              </div>
            </div>
          </div>
      </li>
      <li class="mb-1">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-toggle align-items-center rounded collapsed text-primary" id="dropdownBasic1" ngbDropdownToggle><i class="bi bi-percent"></i> Promo Code</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><input type="checkbox"> Accept promo codes</button>
              
              </div>
            </div>
          </div>
      </li>
      <li class="mb-1">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-toggle align-items-center rounded collapsed text-primary" id="dropdownBasic1" ngbDropdownToggle> <fa-icon icon="money-bill-wave"></fa-icon> Examination Fees </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><input type="checkbox"> Any</button>
                <button ngbDropdownItem><input type="checkbox"> less than 50</button>
                <button ngbDropdownItem><input type="checkbox"> between 50 to 100</button>
              </div>
            </div>
          </div>
      </li>
      <li class="mb-1">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-toggle align-items-center rounded collapsed text-primary" id="dropdownBasic1" ngbDropdownToggle><fa-icon icon="stethoscope"></fa-icon> Entity </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><input type="checkbox"> Hospital</button>
                <button ngbDropdownItem><input type="checkbox"> Clinic</button>
        
              </div>
            </div>
          </div>
      </li>
    </ul>
  </div></div>

