<main>
    <form>
    
        <div class="bg-primary pb-1 pt-1" style="border-radius:15px 15px 0 0 ;"><h6 class="fw-normal text-primary" style="text-align: center;"></h6></div>
        
    
       
        <div class="form-floating p-2">
            <h4 class="text-primary"> Call Us </h4>
           <span class="text-muted">16676 Cost of regular call</span> <br>
           <span class="text-muted">From outside Egypt call:</span><br>
           <span class="text-muted">+2 02 259 83 999</span>
               
        </div>
    
       
        <div class="form-floating p-2">
            <h4 class="text-primary"> Address </h4>
            <span class="text-muted">124 Othman Ibn Affan St. behind Military college - Heliopolis</span>
            
        </div>
        <div class="form-floating p-2">
            <h4 class="text-primary"> Mail Us </h4>
            <span class="text-muted"><a href="#">customercare@vezeeta.com</a></span>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter" style="font-size: 20px;color:#007bff;padding:5px;"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"  style="font-size: 20px;color:#007bff;padding:5px;"></i></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook" style="font-size: 20px;color:#007bff;padding:5px;"></i></a></li>
              </ul>
              

            
        </div>
    </form>
</main><br>

    
    
       
        
    
    
