
    <nav class=" navbar d-flex flex-wrap justify-content-between py-3 mb-4  navbar-dark bg-primary">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
       <div class="v"><div class="vez text-white">Care</div><div class="com">.com</div></div>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" href="#" aria-current="page" routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#" aria-current="page" routerLink="/signup" routerLinkActive="active">signup</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#" aria-current="page" routerLink="/login" routerLinkActive="active">login</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#" aria-current="page" routerLink="/contactUs" routerLinkActive="active">contactUs</a></li>
      </ul>
    </nav>
 
    