<main>
    <form>
    
        <div class="bg-primary pb-1 pt-1" style="border-radius:15px 15px 0 0 ;"><h6 class="fw-normal text-primary" style="text-align: center;"></h6></div>
        
    
       
        <div class="form-floating p-2">
            <h4 class="text-primary"> Name </h4>
           <span class="text-muted">{{item.name}}</span> <br>
        </div>
    
       
        <div class="form-floating p-2">
            <h4 class="text-primary"> Appointment </h4>
           <span class="text-muted">{{item.Appointment}}</span> <br>
            
        </div>
                <div class="form-floating p-2">
            <h4 class="text-primary"> Doctor Name </h4>
           <span class="text-muted">{{item.doctor}}</span> <br>
            
        </div>


    </form>
</main><br>

    
    
       
        
    
    
